PROYECTO_FASE1/WebApplicationCliente/WebApplicationCliente/Service References/WScliente/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/webService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/webService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">servicio web de Naval Wars</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/webService">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="horayfecha">
        <s:complexType />
      </s:element>
      <s:element name="horayfechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="horayfechaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarespejo">
        <s:complexType />
      </s:element>
      <s:element name="insertarespejoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarespejoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="conectado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dato_nuevo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña_nuevo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo_nuevo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="conectado_nuevo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modificarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname_eliminar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarjuego">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname_base" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickname_oponente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="unidades_desplegadas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="unidades_sobrevivientes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="unidades_destruidas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gano" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarjuegoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarjuegoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarJuego">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname_base" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickname_oponente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="unidades_desplegadas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="unidades_sobrevivientes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="unidades_destruidas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gano" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarJuegoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modificarJuegoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarJuego">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname_base" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickname_oponente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarJuegoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarJuegoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graficarUsuario">
        <s:complexType />
      </s:element>
      <s:element name="graficarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="graficarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graficarEspejo">
        <s:complexType />
      </s:element>
      <s:element name="graficarEspejoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="graficarEspejoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leercsvUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="leercsvUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leercsvUsuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leercsvJuegos_usuarios">
        <s:complexType />
      </s:element>
      <s:element name="leercsvJuegos_usuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leercsvJuegos_usuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leercsvTablero">
        <s:complexType />
      </s:element>
      <s:element name="leercsvTableroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leercsvTableroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leerJuegoActual">
        <s:complexType />
      </s:element>
      <s:element name="leerJuegoActualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leerJuegoActualResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reportede0">
        <s:complexType />
      </s:element>
      <s:element name="Reportede0Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reportede0Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reporte1">
        <s:complexType />
      </s:element>
      <s:element name="Reporte1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporte1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarExistenciaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarExistenciaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarExistenciaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graficarTopGanadasLista">
        <s:complexType />
      </s:element>
      <s:element name="graficarTopGanadasListaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="graficarTopGanadasListaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graficarTopDestruidas">
        <s:complexType />
      </s:element>
      <s:element name="graficarTopDestruidasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="graficarTopDestruidasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TOPGANADAS">
        <s:complexType />
      </s:element>
      <s:element name="TOPGANADASResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TOPGANADASResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TOPDESTRUIDAS">
        <s:complexType />
      </s:element>
      <s:element name="TOPDESTRUIDASResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TOPDESTRUIDASResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarMatrizJuego">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="columna" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fila" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="unidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jugador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarMatrizJuegoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarMatrizJuegoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="horayfechaSoapIn">
    <wsdl:part name="parameters" element="tns:horayfecha" />
  </wsdl:message>
  <wsdl:message name="horayfechaSoapOut">
    <wsdl:part name="parameters" element="tns:horayfechaResponse" />
  </wsdl:message>
  <wsdl:message name="insertarespejoSoapIn">
    <wsdl:part name="parameters" element="tns:insertarespejo" />
  </wsdl:message>
  <wsdl:message name="insertarespejoSoapOut">
    <wsdl:part name="parameters" element="tns:insertarespejoResponse" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="modificarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:modificarUsuario" />
  </wsdl:message>
  <wsdl:message name="modificarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:modificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="insertarjuegoSoapIn">
    <wsdl:part name="parameters" element="tns:insertarjuego" />
  </wsdl:message>
  <wsdl:message name="insertarjuegoSoapOut">
    <wsdl:part name="parameters" element="tns:insertarjuegoResponse" />
  </wsdl:message>
  <wsdl:message name="modificarJuegoSoapIn">
    <wsdl:part name="parameters" element="tns:modificarJuego" />
  </wsdl:message>
  <wsdl:message name="modificarJuegoSoapOut">
    <wsdl:part name="parameters" element="tns:modificarJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarJuegoSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarJuego" />
  </wsdl:message>
  <wsdl:message name="eliminarJuegoSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="graficarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:graficarUsuario" />
  </wsdl:message>
  <wsdl:message name="graficarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:graficarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="graficarEspejoSoapIn">
    <wsdl:part name="parameters" element="tns:graficarEspejo" />
  </wsdl:message>
  <wsdl:message name="graficarEspejoSoapOut">
    <wsdl:part name="parameters" element="tns:graficarEspejoResponse" />
  </wsdl:message>
  <wsdl:message name="leercsvUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:leercsvUsuarios" />
  </wsdl:message>
  <wsdl:message name="leercsvUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:leercsvUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="leercsvJuegos_usuariosSoapIn">
    <wsdl:part name="parameters" element="tns:leercsvJuegos_usuarios" />
  </wsdl:message>
  <wsdl:message name="leercsvJuegos_usuariosSoapOut">
    <wsdl:part name="parameters" element="tns:leercsvJuegos_usuariosResponse" />
  </wsdl:message>
  <wsdl:message name="leercsvTableroSoapIn">
    <wsdl:part name="parameters" element="tns:leercsvTablero" />
  </wsdl:message>
  <wsdl:message name="leercsvTableroSoapOut">
    <wsdl:part name="parameters" element="tns:leercsvTableroResponse" />
  </wsdl:message>
  <wsdl:message name="leerJuegoActualSoapIn">
    <wsdl:part name="parameters" element="tns:leerJuegoActual" />
  </wsdl:message>
  <wsdl:message name="leerJuegoActualSoapOut">
    <wsdl:part name="parameters" element="tns:leerJuegoActualResponse" />
  </wsdl:message>
  <wsdl:message name="Reportede0SoapIn">
    <wsdl:part name="parameters" element="tns:Reportede0" />
  </wsdl:message>
  <wsdl:message name="Reportede0SoapOut">
    <wsdl:part name="parameters" element="tns:Reportede0Response" />
  </wsdl:message>
  <wsdl:message name="Reporte1SoapIn">
    <wsdl:part name="parameters" element="tns:Reporte1" />
  </wsdl:message>
  <wsdl:message name="Reporte1SoapOut">
    <wsdl:part name="parameters" element="tns:Reporte1Response" />
  </wsdl:message>
  <wsdl:message name="VerificarExistenciaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarExistenciaUsuario" />
  </wsdl:message>
  <wsdl:message name="VerificarExistenciaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarExistenciaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="graficarTopGanadasListaSoapIn">
    <wsdl:part name="parameters" element="tns:graficarTopGanadasLista" />
  </wsdl:message>
  <wsdl:message name="graficarTopGanadasListaSoapOut">
    <wsdl:part name="parameters" element="tns:graficarTopGanadasListaResponse" />
  </wsdl:message>
  <wsdl:message name="graficarTopDestruidasSoapIn">
    <wsdl:part name="parameters" element="tns:graficarTopDestruidas" />
  </wsdl:message>
  <wsdl:message name="graficarTopDestruidasSoapOut">
    <wsdl:part name="parameters" element="tns:graficarTopDestruidasResponse" />
  </wsdl:message>
  <wsdl:message name="TOPGANADASSoapIn">
    <wsdl:part name="parameters" element="tns:TOPGANADAS" />
  </wsdl:message>
  <wsdl:message name="TOPGANADASSoapOut">
    <wsdl:part name="parameters" element="tns:TOPGANADASResponse" />
  </wsdl:message>
  <wsdl:message name="TOPDESTRUIDASSoapIn">
    <wsdl:part name="parameters" element="tns:TOPDESTRUIDAS" />
  </wsdl:message>
  <wsdl:message name="TOPDESTRUIDASSoapOut">
    <wsdl:part name="parameters" element="tns:TOPDESTRUIDASResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarMatrizJuegoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarMatrizJuego" />
  </wsdl:message>
  <wsdl:message name="InsertarMatrizJuegoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarMatrizJuegoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="horayfecha">
      <wsdl:input message="tns:horayfechaSoapIn" />
      <wsdl:output message="tns:horayfechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarespejo">
      <wsdl:input message="tns:insertarespejoSoapIn" />
      <wsdl:output message="tns:insertarespejoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input message="tns:insertarUsuarioSoapIn" />
      <wsdl:output message="tns:insertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <wsdl:input message="tns:modificarUsuarioSoapIn" />
      <wsdl:output message="tns:modificarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <wsdl:input message="tns:eliminarUsuarioSoapIn" />
      <wsdl:output message="tns:eliminarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarjuego">
      <wsdl:input message="tns:insertarjuegoSoapIn" />
      <wsdl:output message="tns:insertarjuegoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificarJuego">
      <wsdl:input message="tns:modificarJuegoSoapIn" />
      <wsdl:output message="tns:modificarJuegoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarJuego">
      <wsdl:input message="tns:eliminarJuegoSoapIn" />
      <wsdl:output message="tns:eliminarJuegoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="graficarUsuario">
      <wsdl:input message="tns:graficarUsuarioSoapIn" />
      <wsdl:output message="tns:graficarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="graficarEspejo">
      <wsdl:input message="tns:graficarEspejoSoapIn" />
      <wsdl:output message="tns:graficarEspejoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="leercsvUsuarios">
      <wsdl:input message="tns:leercsvUsuariosSoapIn" />
      <wsdl:output message="tns:leercsvUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="leercsvJuegos_usuarios">
      <wsdl:input message="tns:leercsvJuegos_usuariosSoapIn" />
      <wsdl:output message="tns:leercsvJuegos_usuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="leercsvTablero">
      <wsdl:input message="tns:leercsvTableroSoapIn" />
      <wsdl:output message="tns:leercsvTableroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="leerJuegoActual">
      <wsdl:input message="tns:leerJuegoActualSoapIn" />
      <wsdl:output message="tns:leerJuegoActualSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reportede0">
      <wsdl:input message="tns:Reportede0SoapIn" />
      <wsdl:output message="tns:Reportede0SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reporte1">
      <wsdl:input message="tns:Reporte1SoapIn" />
      <wsdl:output message="tns:Reporte1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarExistenciaUsuario">
      <wsdl:input message="tns:VerificarExistenciaUsuarioSoapIn" />
      <wsdl:output message="tns:VerificarExistenciaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="graficarTopGanadasLista">
      <wsdl:input message="tns:graficarTopGanadasListaSoapIn" />
      <wsdl:output message="tns:graficarTopGanadasListaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="graficarTopDestruidas">
      <wsdl:input message="tns:graficarTopDestruidasSoapIn" />
      <wsdl:output message="tns:graficarTopDestruidasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TOPGANADAS">
      <wsdl:input message="tns:TOPGANADASSoapIn" />
      <wsdl:output message="tns:TOPGANADASSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TOPDESTRUIDAS">
      <wsdl:input message="tns:TOPDESTRUIDASSoapIn" />
      <wsdl:output message="tns:TOPDESTRUIDASSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarMatrizJuego">
      <wsdl:input message="tns:InsertarMatrizJuegoSoapIn" />
      <wsdl:output message="tns:InsertarMatrizJuegoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebSoap" type="tns:ServicioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://localhost/webService/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="horayfecha">
      <soap:operation soapAction="http://localhost/webService/horayfecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarespejo">
      <soap:operation soapAction="http://localhost/webService/insertarespejo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://localhost/webService/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap:operation soapAction="http://localhost/webService/modificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap:operation soapAction="http://localhost/webService/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarjuego">
      <soap:operation soapAction="http://localhost/webService/insertarjuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarJuego">
      <soap:operation soapAction="http://localhost/webService/modificarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarJuego">
      <soap:operation soapAction="http://localhost/webService/eliminarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarUsuario">
      <soap:operation soapAction="http://localhost/webService/graficarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarEspejo">
      <soap:operation soapAction="http://localhost/webService/graficarEspejo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leercsvUsuarios">
      <soap:operation soapAction="http://localhost/webService/leercsvUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leercsvJuegos_usuarios">
      <soap:operation soapAction="http://localhost/webService/leercsvJuegos_usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leercsvTablero">
      <soap:operation soapAction="http://localhost/webService/leercsvTablero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerJuegoActual">
      <soap:operation soapAction="http://localhost/webService/leerJuegoActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reportede0">
      <soap:operation soapAction="http://localhost/webService/Reportede0" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte1">
      <soap:operation soapAction="http://localhost/webService/Reporte1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarExistenciaUsuario">
      <soap:operation soapAction="http://localhost/webService/VerificarExistenciaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarTopGanadasLista">
      <soap:operation soapAction="http://localhost/webService/graficarTopGanadasLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarTopDestruidas">
      <soap:operation soapAction="http://localhost/webService/graficarTopDestruidas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TOPGANADAS">
      <soap:operation soapAction="http://localhost/webService/TOPGANADAS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TOPDESTRUIDAS">
      <soap:operation soapAction="http://localhost/webService/TOPDESTRUIDAS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarMatrizJuego">
      <soap:operation soapAction="http://localhost/webService/InsertarMatrizJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebSoap12" type="tns:ServicioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://localhost/webService/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="horayfecha">
      <soap12:operation soapAction="http://localhost/webService/horayfecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarespejo">
      <soap12:operation soapAction="http://localhost/webService/insertarespejo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap12:operation soapAction="http://localhost/webService/insertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap12:operation soapAction="http://localhost/webService/modificarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap12:operation soapAction="http://localhost/webService/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarjuego">
      <soap12:operation soapAction="http://localhost/webService/insertarjuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarJuego">
      <soap12:operation soapAction="http://localhost/webService/modificarJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarJuego">
      <soap12:operation soapAction="http://localhost/webService/eliminarJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarUsuario">
      <soap12:operation soapAction="http://localhost/webService/graficarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarEspejo">
      <soap12:operation soapAction="http://localhost/webService/graficarEspejo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leercsvUsuarios">
      <soap12:operation soapAction="http://localhost/webService/leercsvUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leercsvJuegos_usuarios">
      <soap12:operation soapAction="http://localhost/webService/leercsvJuegos_usuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leercsvTablero">
      <soap12:operation soapAction="http://localhost/webService/leercsvTablero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerJuegoActual">
      <soap12:operation soapAction="http://localhost/webService/leerJuegoActual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reportede0">
      <soap12:operation soapAction="http://localhost/webService/Reportede0" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reporte1">
      <soap12:operation soapAction="http://localhost/webService/Reporte1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarExistenciaUsuario">
      <soap12:operation soapAction="http://localhost/webService/VerificarExistenciaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarTopGanadasLista">
      <soap12:operation soapAction="http://localhost/webService/graficarTopGanadasLista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarTopDestruidas">
      <soap12:operation soapAction="http://localhost/webService/graficarTopDestruidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TOPGANADAS">
      <soap12:operation soapAction="http://localhost/webService/TOPGANADAS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TOPDESTRUIDAS">
      <soap12:operation soapAction="http://localhost/webService/TOPDESTRUIDAS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarMatrizJuego">
      <soap12:operation soapAction="http://localhost/webService/InsertarMatrizJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWeb">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">servicio web de Naval Wars</wsdl:documentation>
    <wsdl:port name="ServicioWebSoap" binding="tns:ServicioWebSoap">
      <soap:address location="http://localhost:15816/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebSoap12" binding="tns:ServicioWebSoap12">
      <soap12:address location="http://localhost:15816/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>